.container{
    max-width: 1120px;
    margin: 5px auto;
}
.page{
    // border: 2px solid pink ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info{
        h1{
            margin: 0px 0px 10px 0px;
            font-size: 50px;
            span{
                color: #45BCC9;
            }
        }
        p{
            margin: 0px 0px 30px 0px;
            color: grey;
        }
        .btn-reg-log{
            background-color: #45BCC9;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 25px;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn-reg-log:hover{
            color: rgb(242, 240, 240);
        }
    }
    .main-img{
        // border: 2px solid red;
        height: 600px;
        width: 600px;
    }
}
    
@media only screen and (max-width:992px) {
    .main-img{
        display: none;
    }   
}